{% extends 'organization/base.html' %}
{% load my_tags %}
{% block content %}
<button class="btn btn-outline-primary m-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
        aria-controls="staticBackdrop">
    Параметры поиска
</button>
<a class="btn btn-outline-primary my-4" href="{% url 'learning:protocol_create' %}">Создать протокол проверки
    знаний</a>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
     aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Параметры поиска</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <p class="mx-3">Показано # из # протоколов</p>
    <div class="offcanvas-body">
        <form method="get">
            <div class="card">
                <div class="card-body">
                    <p>Дата c <input name="date_from" class="form-control text-center" type="date" placeholder="Дата с"
                                     aria-label="Search" value="{{search_params.date_from}}"></p>
                    <p>Дата по <input name="date_to" class="form-control text-center" type="date" placeholder="Дата по"
                                      aria-label="Search" value="{{ search_params.date_to }}"></p>
                    <input name="division" class="form-control my-2 text-center" list="divisionOptions"
                           id="divisionDataList" value="{{search_params.division}}"
                           placeholder="Введите название структурного подразделения выдавшего протокол...">
                    <datalist id="divisionOptions">
                        {% for division in divisions %}
                        <option value="{{ division }}">
                            {% endfor %}
                    </datalist>
                    <input name="direction" class="form-control my-2 text-center" list="directionOptions"
                           id="directionDataList" value="{{search_params.direction}}"
                           placeholder="Выберите направление обучения">
                    <datalist id="directionOptions">
                        {% for direction in directions %}
                        <option value="{{ direction }}">
                            {% endfor %}
                    </datalist>

                    <div class="row align-items-center g-3 mb-3">
                        <div class="col-auto">
                            <label class="form-label mb-0">Наличие скан‑файла</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="hasFile" name="has_file" {% if search_params.has_file == '1' %}checked{% endif %}>
                                <label class="form-check-label" for="hasFile">Да</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="0" id="hasNotFile"
                                       name="has_not_file" {% if search_params.has_not_file == '0' %}checked{% endif %}>
                                <label class="form-check-label" for="hasNotFile">Нет</label>
                            </div>
                        </div>
                    </div>
                    <input name="surname" class="form-control my-2 text-center" type="search"
                           placeholder="Введите Фамилию работника"
                           aria-label="Search" value="{{search_params.surname}}">
                    <input name="name" class="form-control my-2 text-center" type="search"
                           placeholder="Введите Имя работника"
                           aria-label="Search" value="{{search_params.name}}">
                    <input name="patronymic" class="form-control my-2 text-center" type="search"
                           placeholder="Введите Отчество работника"
                           aria-label="Search" value="{{search_params.patronymic}}">
                </div>
            </div>
            <div class="d-grid gap-2 my-2">
                <button type="submit" class="btn btn-outline-primary">
                    Поиск
                </button>
                <a href="{% url 'learning:protocol_list' %}" class="btn btn-outline-secondary">Очистить</a>
            </div>
        </form>
    </div>

</div>
<div class="container-lg">
    <table class="table table-sm table-hover text-center fixed-columns table align-middle">
        <thead>
        <tr>
            <th class="col-3" scope="col">Структурное подразделение выдавшее протокол</th>
            <th class="col-3" scope="col">Направление обучения</th>
            <th class="col-3" scope="col">Дата проверки знаний</th>
            <th class="col-3" scope="col">Протокол проверки знаний</th>
            <th class="col-3" scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for protocol in object_list %}
        <tr>
            <td>{{protocol.division}}<br>{{protocol.division.branch}}</td>
            <td>{{protocol.direction.all|get_direction_name}}</td>
            <td>{{ protocol.prot_date }}</td>
            <td>{% if protocol.doc_scan %}
                <a class="btn btn-link btn-sm" href="{{protocol.doc_scan.url}}">Скан-файл</a>
                {% else %}
                <div class="text-danger">отсутствует</div>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'learning:protocol_detail' protocol.pk %}">Подробнее</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% comment %}
<div class="position-relative m-4">
    <div class="position-absolute top-50 start-50 translate-middle">
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{{ page_obj.previous_page_number }}">Предыдущая</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Предыдущая</span>
                </li>
                {% endif %}
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{{ page_obj.previous_page_number }}">{{
                    page_obj.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{{ page_obj.next_page_number }}">{{
                    page_obj.next_page_number }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ page_obj.next_page_number }}">Следующая</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Следующая</span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endcomment %}
{% endblock %}