{% load my_tags %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand mx-4" href="#">Система обучения и инструктажа</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div>
                            {% if user.is_authenticated %}
                            <h5>{{user.worker}}</h5>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle mt-2"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Профиль
                            </button>
                            <ul class="dropdown-menu">
                                {% if user.worker %}
                                <li><a class="dropdown-item" href="{% url 'organization:worker_detail' user.worker.pk %}">Личный
                                    кабинет</a></li>
                                {% endif %}
                                {% if user.is_staff %}
                                <li><a class="dropdown-item" href="/admin/">Администрирование</a></li>
                                {% endif %}
                                <hr>
                                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                            </ul>
                            {% else %}
                            <a class="btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
                            {% endif %}
                        </div>
                        <div>
                        <button type="button" class="btn btn-outline-primary dropdown-toggle mt-2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Обучение по ОТ
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'learning:protocol_list' %}">Протоколы проверок
                                знаний по ОТ</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'learning:learner_list' %}">График проверки знаний</a></li>
                            {% if perms.learning.view_direction %}
                            <li><a class="dropdown-item"
                                   href="{% url 'learning:direction_list' %}">Направления обучения</a></li>
                            {% endif %}
                        </ul>
                        </div>
                        {% if perms.learning.view_examassignment %}
                        <div>
                        <button type="button" class="btn btn-outline-primary dropdown-toggle mt-2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Проверка знаний
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'learning:all_exam_assignment' %}">
                                Управление тестами</a></li>
                            <li><a class="dropdown-item" href="{% url 'learning:all_exam_results' %}">
                                Результаты тестирований</a></li>
                            {% if perms.learning.view_verbalexam %}
                            <li><a class="dropdown-item"
                                   href="{% url 'learning:verbalexam_list' %}">Устная аттестация</a></li>
                            {% endif %}
                        </ul>
                            </div>
                        {% endif %}
                        <div>
                            <a class="btn btn-outline-primary my-2" href="{% url 'accident:accident_list' %}">Несчастные
                                случаи</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>