{% extends 'organization/base.html' %}
{% block content %}
<button class="btn btn-outline-primary m-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
        aria-controls="staticBackdrop">
    Параметры поиска
</button>
<div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Действия
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'organization:organization_create' %}">Добавить ОСТ</a></li>
        <li><a class="dropdown-item"
               href="{% url 'organization:position_create' %}">Добавить
            профессию</a></li>
        <li><a class="dropdown-item"
               href="{% url 'learning:direction_create' %}">Добавить
            направление по обучению</a></li>
    </ul>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
     aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Параметры поиска</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    {% comment %}<p class="mx-3">Показано {{ object_list.count }} из {{ page_obj.paginator.count}} НС</p>
    <div class="offcanvas-body">
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <input name="order" class="form-control my-2 text-center" type="search"
                           placeholder="Введите № или дату приказа"
                           aria-label="Search">
                    <p>Дата c <input name="date_from" class="form-control text-center" type="date" placeholder="Дата с"
                                     aria-label="Search" value="0001-01-01"></p>
                    <p>Дата по <input name="date_to" class="form-control text-center" type="date" placeholder="Дата по"
                                      aria-label="Search" value="{{ date_now }}"></p>
                    <input name="OST" class="form-control my-2 text-center" list="OSTOptions" id="OSTDataList"
                           placeholder="Введите название ОСТ...">
                    <datalist id="OSTOptions">
                        {% for organization in organizations %}
                        <option value="{{ organization }}">
                            {% endfor %}
                    </datalist>
                    <input name="category" class="form-control my-2 text-center" list="categoryOptions"
                           id="categoryDataList"
                           placeholder="Выберите категорию НС">
                    <datalist id="categoryOptions">
                        {% for category in categories %}
                        <option value="{{ category }}">
                            {% endfor %}
                    </datalist>
                    <input name="description" class="form-control my-2 text-center" type="search"
                           placeholder="Введите описание НС"
                           aria-label="Search">
                </div>
            </div>
            <div class="d-grid gap-2 my-2">
                <button type="submit" class="btn btn-outline-primary">
                    Поиск
                </button>
                <a class="btn btn-outline-secondary" href="{% url 'accident:search' page=1 %}">
                    Сбросить
                </a>
            </div>
        </form>
    </div>
    {% endcomment %}
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="accordion" id="Organization">
            {% for organization in object_list %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#1-{{ organization.pk }}" aria-expanded="false"
                            aria-controls="1-{{ organization.pk }}">
                        {{ organization.name }}
                    </button>
                </h2>
                <div id="1-{{ organization.pk }}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="btn-group dropend">
                            <button type="button" class="btn btn-link-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Редактировать
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="{% url 'organization:branch_create' %}?organization={{organization.pk}}">Добавить
                                    филиал ОСТ</a></li>
                                <hr>
                                <li><a class="dropdown-item"
                                       href="{% url 'organization:organization_update' organization.pk %}">Изменить
                                    ОСТ</a></li>
                                <li><a class="dropdown-item"
                                       href="{% url 'organization:organization_delete' organization.pk %}">Удалить
                                    ОСТ</a></li>
                            </ul>
                        </div>
                        <div class="accordion" id="Branch">
                            {% for branch in organization.branch.all %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#2-{{ branch.pk }}" aria-expanded="false"
                                            aria-controls="2-{{ branch.pk }}">
                                        {{ branch.name }}
                                    </button>
                                </h2>
                                <div id="2-{{ branch.pk }}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="btn-group dropend">
                                            <button type="button" class="btn btn-link-secondary dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                Редактировать
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item"
                                                       href="{% url 'organization:division_create'%}?branch={{branch.pk}}">Добавить
                                                    структурное подразделение</a></li>
                                                <hr>
                                                <li><a class="dropdown-item"
                                                       href="{% url 'organization:branch_update' branch.pk %}">Изменить
                                                    филиал ОСТ</a></li>
                                                <li><a class="dropdown-item"
                                                       href="{% url 'organization:branch_delete' branch.pk %}">Удалить
                                                    филиал ОСТ</a></li>
                                            </ul>
                                        </div>
                                        {% for division in branch.division.all %}
                                        <div class="accordion" id="Division">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#3-{{ division.pk }}"
                                                            aria-expanded="false" aria-controls="3-{{ division.pk }}">
                                                        {{ division.name }}
                                                    </button>
                                                </h2>
                                                <div id="3-{{ division.pk }}" class="accordion-collapse collapse">
                                                    <div class="btn-group dropend">
                                                        <button type="button"
                                                                class="btn btn-link-secondary dropdown-toggle"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                            Редактировать
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item"
                                                                   href="{% url 'organization:district_create'%}?division={{division.pk}}">Добавить
                                                                участок</a></li>
                                                            <hr>
                                                            <li><a class="dropdown-item"
                                                                   href="{% url 'organization:division_update' division.pk %}">Изменить
                                                                структурное подразделение</a></li>
                                                            <li><a class="dropdown-item"
                                                                   href="{% url 'organization:division_delete' division.pk %}">Удалить
                                                                структурное подразделение</a></li>
                                                        </ul>
                                                    </div>
                                                    <table class="table">
                                                        <tbody>
                                                        {% for district in division.district.all %}
                                                        <tr>
                                                            <td>
                                                                <a type="button" class="btn btn-link"
                                                                   href="{% url 'organization:district_detail' district.pk %}">
                                                                    {{district.name}}
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a type="button" class="btn btn-link"
                                                                   href="{% url 'organization:district_update' district.pk %}">
                                                                    Изменить
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a type="button" class="btn btn-link"
                                                                   href="{% url 'organization:district_delete' district.pk %}">
                                                                    Удалить
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-1"></div>
</div>


{% endblock %}