{% extends 'organization/base.html' %}
{% load my_tags %}
{% block content %}
<a class="btn btn-outline-primary btn-sm m-2" type="button"
   href="{% url 'organization:district_detail' object.district.pk %}">
    Назад
</a>
<div class="card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Основная информация
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Инструктаж
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                    type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Обучение
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
                    type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
             tabindex="0">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{object.image|media_filter}}" class="img-fluid rounded-start" width="300" height="500"
                         alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="text"><small class="text-body-secondary my-2">{{object.organization}}
                            {{object.branch}}</small></p>
                        <p class="text"><small class="text-body-secondary my-2">{% if object.group %} {{object.group}}
                            {% endif %} {{object.district}} {{object.division}}</small></p>
                        <h5 class="card-title"><strong>{{object.surname}} {{object.name}}
                            {{ object.patronymic}}</strong></h5>
                        <p class="card-text my-2">Должность/профессия: <strong>{{ object.main_position }}</strong></p>
                        {% if object.combined_position %}
                        <p class="card-text">Совмещаемая должность/профессия: {{object.combined_position}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            ...
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <div class="btn-group m-2">
                <button type="button" class="btn btn-primary  btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Действия
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                           href="{% url 'learning:learner_update' object.learner.pk %}">Редактировать профиль
                        обучаемого</a></li>
                </ul>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">Направление обучения</th>
                            <th scope="col">Дата проверки знаний</th>
                            <th scope="col">Результат проверки знаний</th>
                            <th scope="col">Скан-файл протокола</th>
                            <th scope="col">Дата следующей проверки знаний</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for direction in object.learner.direction.all %}
                        <tr>
                            <td>{{direction.name}}</td>
                            <td>{{ direction|get_protocol_date:object.learner }}</td>
                            <td>{{ direction|get_protocol_date:object.learner }}</td>
                            <td>{% if not direction|get_protocol_url:object.learner %}
                                <a class="btn btn-link-secondary btn-sm"
                                   href="{{direction|get_protocol_url:object.learner}}">Скан-файл</a>
                                {% else %}
                                <div class="text-danger">отсутствует</div>
                                {% endif %}
                            </td>
                            <td>{{direction|get_knowledge_date:object.learner}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
            ...
        </div>
    </div>
</div>
{% endblock %}