{% extends 'organization/base.html' %}
{% load my_tags %}
{% block content %}
<a class="btn btn-outline-secondary btn-sm m-2" type="button"
   href="{% url 'organization:district_detail' object.district.pk %}">
    Назад
</a>
<div class="card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Основная информация
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Инструктаж
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                    type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Обучение
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
             tabindex="0">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{object.image|media_filter}}" class="m-2" width="250" height="230"
                         alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="text"><small class="text-body-secondary my-2">{{object.organization}}
                            {{object.branch}}</small></p>
                        <p class="text"><small class="text-body-secondary my-2">{% if object.group %} {{object.group}}
                            {% endif %} {{object.district}} {{object.division}}</small></p>
                        <h5 class="card-title"><strong>{{object.surname}} {{object.name}}
                            {{ object.patronymic}}</strong></h5>
                        <p class="card-text my-2">Должность/профессия: <strong>{{ object|get_main_position }}</strong>
                        </p>
                        {% if object.position %}
                        <p class="card-text">Совмещаемая должность/профессия: {{object|get_extra_position}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% for learner in object.learner.all %}
            {% for assignment in learner|get_assignments %}
            <div class="card text-center col-2 m-2 ">
                <div class="card-body">
                    <h6 class="card-title">Тестирование по программе: {{ assignment.exam.program.name }}</h6>
                    Статус: {{ assignment.get_status_display }}<br>
                    Срок: {% if assignment.deadline %}{{ assignment.deadline|date:"d.m.Y" }}{% else %}Не задан
                    {% endif %}<br>
                    Попыток осталось: {{ assignment.attempts_left }}
                    <a href="{% url 'learning:start_exam' learner.pk assignment.pk %}" class="btn btn-primary mt-2">Начать</a>
                </div>
                <div class="card-footer text-body-secondary">
                    Осталось дней: {{assignment.deadline|date_delta}}
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="btn-group m-2">
                <button type="button" class="btn btn-outline-primary  btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Провести инструктаж
                </button>
                <ul class="dropdown-menu">
                    {% for learner in object.learner.all %}
                    <li><a class="dropdown-item"
                           href="{% url 'learning:briefing_day_create' learner.pk %}">{{learner.position}}</a></li>
                </ul>
                {% endfor %}
            </div>

            <a href="{% url 'learning:briefing_day_list' object.pk %}" class="btn btn-outline-primary btn-sm">Архив
                инструктажей</a>
            <div class="card">
                <div class="card-body">

                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">Вид инструктажа</th>
                            <th scope="col">Дата инструктажа</th>
                            <th scope="col">Наименование локального акта (локальных актов),<br>в объёме требований
                                которого проведён инструктаж
                            </th>
                            <th scope="col">Причина проведения</th>
                            <th scope="col">Дата следующего <br>инструктажа</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for learner in object.learner.all %}
                        <tr>
                            <td colspan="6">Инструктажи по профессии/должности: {{learner.position}}
                        </tr>
                        {% for briefing in briefings %}
                        {% with learner|get_briefing:briefing as briefing_obj %}
                        <tr>
                            <td>{{briefing}}</td>
                            <td>{{ briefing_obj.briefing_day}}</td>
                            <td>{% if briefing_obj.briefing_program %}
                                {{ briefing_obj.briefing_program }}
                                {% elif briefing_obj.other_briefing_doc %}
                                {{ briefing_obj.other_briefing_doc }}
                                {% endif %}
                            </td>
                            <td>{% if briefing_obj.briefing_reason %}
                                {{ briefing_obj.briefing_reason}}
                                {% else %}
                                ------
                                {% endif %}
                            </td>
                            <td>{% if briefing_obj.next_briefing_day %}
                                {{ briefing_obj.next_briefing_day}}
                                {% else %}
                                ------
                                {% endif %}
                            </td>
                            <td>
                                {% if briefing_obj %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary  btn-sm dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                               href="#">Результат тестирования</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'learning:briefing_day_update' briefing_obj.pk %}">Изменить</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'learning:briefing_day_delete'  briefing.pk briefing_obj.learner.worker.pk %}?archive=1">Удалить</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <div class="btn-group m-2">
                <button type="button" class="btn btn-outline-primary  btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Действия
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                           href="{% url 'learning:learner_update' object.pk %}">Редактировать профиль
                        обучаемого</a></li>
                </ul>
            </div>
            <div class="btn-group m-2">
                <button type="button" class="btn btn-outline-primary  btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Результаты тестов
                </button>
                <ul class="dropdown-menu">
                    {% for learner in object.learner.all %}
                    <li><a class="dropdown-item"
                           href="{% url 'learning:exam_results' learner.pk %} ">{{learner.position}}</a></li>
                </ul>
                {% endfor %}
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">Направление обучения</th>
                            <th scope="col">Дата проверки знаний</th>
                            <th scope="col">Результат проверки знаний</th>
                            <th scope="col">Скан-файл протокола</th>
                            <th scope="col">Дата следующей проверки знаний</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for learner in object.learner.all %}
                        <tr>
                            <td colspan="5">Обучение по профессии/должности: {{learner.position}}
                        </tr>
                        {% for direction in learner.direction.all %}
                        <tr>
                            <td>{{direction.name}}</td>
                            <td>{{ direction|get_protocol_date:learner }}</td>
                            <td>{% if direction|get_protocol_result:learner %}
                                <span class="text-success">удовлетворительно</span>
                                {% else %}
                                <span class="text-danger">неудовлетворительно</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if direction|get_protocol_url:learner %}
                                <a class="btn btn-link-secondary btn-sm" href="{{direction|get_protocol_url:learner}}">Скан-файл</a>
                                {% else %}
                                <div class="text-danger">отсутствует</div>
                                {% endif %}
                            </td>
                            <td>{{direction|get_knowledge_date:learner}}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}